/* Media Mobile */

@media screen and (max-width: 1439px){

    main {
        width: 100%;
        padding: 0 1.5rem;
    }

}

@media screen and ( max-width: 768px ) {
    
.deco-font {
    margin-top:-12px;
}

.main_footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.copyright {
    margin: 0;
}

#propagation_guard {
    padding: 50px 15px;
}

#lightboxImg {
    max-width: 85dvw;
    max-height: 80dvh;
    height: auto;
    width: 100%;
}

}

@media screen and (max-width: 425px) {
    .galleryImg{
        width: 80dvw;
    }
}



/* Media Mobile END */